#if ($!authorizedToViewDataWithPricing || $!authorizedToViewDataWithoutPricing)
#parse("/com/metainf/confluence/plugin/sales/templates/header.vm")
<table class="confluenceTable">
    <thead>
    <tr>
        <th class="confluenceTh" nowrap="true">Status</th>
        <th class="confluenceTh" nowrap="true">Date</th>
        <th class="confluenceTh">Invoice</th>
        <th class="confluenceTh">SEN</th>
        <th class="confluenceTh">Addon</th>

        <th class="confluenceTh">Hosting</th>
        <th class="confluenceTh">Billing Period</th>

        <th class="confluenceTh">Organisation</th>
        <th class="confluenceTh">Country</th>

        <th class="confluenceTh">Region</th>

        <th class="confluenceTh" nowrap="true">Technical Contact</th>
        <th class="confluenceTh" nowrap="true">Billing Contact</th>
        <th class="confluenceTh">License</th>
        <th class="confluenceTh" nowrap="true">Sale type</th>
        <th class="confluenceTh">Expert</th>
        <th class="confluenceTh" nowrap="true">Maintenance till</th>
        #if($!authorizedToViewDataWithPricing)
        <th class="confluenceTh">Price</th>
        <th class="confluenceTh">Share</th>
        #end
    </tr>
    </thead>
    <tbody>
    #foreach($sale in $!sales)
    <tr>
        <td class="confluenceTd" nowrap="true"><span class='status-macro aui-lozenge conf-macro output-inline $!sale.statusClassName' data-hasbody='false' data-macro-name='status'>$!sale.status</span></td>
        <td class="confluenceTd" nowrap="true">$sale.getDateOfSale()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getInvoice()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getLicenseId()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getPluginName()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getHosting()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getBillingPeriod()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getOrganisation()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getCountry()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getRegion()</td>
        <td class="confluenceTd">$!sale.getTechnicalContactName()<br />$!sale.getTechnicalContactEmailAddress()</td>
        <td class="confluenceTd">$!sale.getBillingContactName()<br />$!sale.getBillingContactEmailAddress()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getLicenseSize() / $!sale.getLicenseType()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getSalesType()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getExpertName()</td>
        <td class="confluenceTd" nowrap="true">$!sale.getMaintenanceEnd()</td>
        #if($!authorizedToViewDataWithPricing)
            <td class="confluenceTd" style="text-align:right">$!sale.getSalesPrice()</td>
            <td class="confluenceTd" style="text-align:right">$!sale.getVendorAmount()</td>
        #end
    </tr>
    #end
    </tbody>
</table>
#else
You are not authorized to view vendor sales reports.
#end